body {
	background:#999;
	font-family: arial;
}

h1, h2, li{
	color: #555;
}

a {
	color: green;
}

p {
	background: #666;
	color: white;
	padding: 10px;
}

.secondary {
	background: none;
	color: #777;
}

#special {
	background: none;
	color: #777;
}

.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}
